# Auto detect text files and perform LF normalization
* text=auto

# Asociar archivos .cs con C#
*.cs linguist-language=C#

# Asociar archivos .shader y .cginc con ShaderLab
*.shader linguist-language=ShaderLab
*.cginc linguist-language=ShaderLab
